@import "./color.scss";
@import "./font.scss";

$borderRadius: 5px;

$smallPaddingTop: 2px;
$smallPaddingLeft: 5px;

$defaultPaddingTop: 5px;
$defaultPaddingLeft: 10px;

$largePaddingTop: 9px;
$largePaddingLeft: 14px;