$defaultColor: #fff;
$defaultActiveColor: #3a8ee6;
$defaultHoverColor: #409eff;
$defaultTextColor: #606266;

$primaryColor: #409eff;
$primaryActiveColor: #3a8ee6;
$primaryHoverColor: #66b1ff;
$primaryTextColor: #fff;

$successColor: #85ce61;
$successActiveColor: #5daf34;
$successHoverColor: #85ce61;
$successTextColor: #fff;

$infoColor: #909399;
$infoActiveColor: #82848a;
$infoHoverColor: #a6a9ad;
$infoTextColor: #fff;

$warningColor: #e6a23c;
$warningActiveColor: #cf9236;
$warningHoverColor: #ebb563;
$warningTextColor: #fff;

$dangerColor: #f56c6c;
$dangerActiveColor: #dd6161;
$dangerHoverColor: #f78989;
$dangerTextColor: #fff;